<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <span class="navbar-brand">E-Commerce</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="basket">Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="admin/">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1>
                        <i class="bi bi-patch-check-fill"></i>
                    </h1>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-white text-center" style="display: grid;">
                            <i class="bi bi-house-door"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white text-center" style="display: grid;">
                            <i class="bi bi-speedometer2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white text-center" style="display: grid;">
                            <i class="bi bi-box-seam"></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white text-center" style="display: grid;">
                            <i class="bi bi-balloon"></i>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white text-center" style="display: grid;">
                            <i class="bi bi-people"></i>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<ngx-spinner type="square-jelly-box" name="spinnerCors" size="default" color="red"></ngx-spinner>
<ngx-spinner type="square-spin" name="spinnerLoading" size="default" color="pink"></ngx-spinner>